@using Portfolio.Models
@model IndexViewModel
@{

}
<div class="site-banner d-flex">

    <div class="banner-text justify-content-center align-self-center m-auto">
        <div class="pro-title"><h1>FULL STACK WEB DEVELOPER</h1></div>



        <div class="pro-tagline">
            <p>Best Platform to Outsource your Web pojects</p>
            <p>
                A Platform for
                <span class="txt-rotate"
                      data-period="2000"
                      data-rotate='[ "building Web Apps.", "building Asp.net Projects.", "building C# Projects.", "building Shopify Stores.", "building Wordpress Websites","building E-commerce Websites","Website Customization" ]'></span>
            </p>
        </div>



        <p class="banner-buttons btn-group-lg">
            <a href="https://github.com/Usamaahmad751" target="_blank" class="banner-button banner-button1 btn-scale btn-lg"><span><i class="fab fa-github-alt"></i></span>Github</a>
            <a class="banner-button btn-scale banner-button2" target="_blank" href="linkedin.com/in/usamaahmad751/"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
        </p>
        <p class="little-tagline">I Want To Make Things That Matters</p>
    </div>
</div>

<div class="main-skills container ">
    <div class="blogs-heading">Services</div>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-1">
            <div class="skill">
                <div class="row m-0 p-1">
                    <div class="col-3 p-1 my-auto"><img src="~/images/csharp.png" class="icon" /></div>
                    <div class="col-9 ">
                        <div class="skill-title">C-Sharp</div>

                        <div class="skill-description">      Usama Ahmad is a Full Stack Web Developer Based In Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-1">
            <div class="skill">
                <div class="row m-0 p-1">
                    <div class="col-3 p-2 my-auto"><img src="~/images/asp.png" class="icon" /></div>
                    <div class="col-9 ">
                        <div class="skill-title">Asp.net</div>

                        <div class="skill-description">      Usama Ahmad is a Full Stack Web Developer Based In Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-1">
            <div class="skill">
                <div class="row m-0 p-1">
                    <div class="col-3 p-2 my-auto"><img src="~/images/php.png" class="icon" /></div>
                    <div class="col-9 ">
                        <div class="skill-title">PHP</div>

                        <div class="skill-description">      Usama Ahmad is a Full Stack Web Developer Based In Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-1">
            <div class="skill">
                <div class="row m-0 p-1">
                    <div class="col-3 p-2 my-auto"><img src="~/images/laravel.png" class="icon" /></div>
                    <div class="col-9 ">
                        <div class="skill-title">Laravel</div>

                        <div class="skill-description">      Usama Ahmad is a Full Stack Web Developer Based In Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-1">
            <div class="skill">
                <div class="row m-0 p-1">
                    <div class="col-3 p-2 my-auto small-icon"><img src="~/images/css.png" class="small-icon" /></div>
                    <div class="col-9 ">
                        <div class="skill-title">CSS3</div>

                        <div class="skill-description">      Usama Ahmad is a Full Stack Web Developer Based In Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-1">
            <div class="skill">
                <div class="row m-0 p-1">
                    <div class="col-3 p-2 my-auto "><img src="~/images/html.png" class="small-icon" /></div>
                    <div class="col-9 ">
                        <div class="skill-title">HTML5</div>

                        <div class="skill-description">      Usama Ahmad is a Full Stack Web Developer Based In Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-1">
            <div class="skill">
                <div class="row m-0 p-1">
                    <div class="col-3 p-2 my-auto"><img src="~/images/bootstrap.png" class="icon" /></div>
                    <div class="col-9 ">
                        <div class="skill-title">Bootstrap4</div>

                        <div class="skill-description">      Usama Ahmad is a Full Stack Web Developer Based In Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-sm-6 col-12 p-1">
            <div class="skill">
                <div class="row m-0 p-1">
                    <div class="col-3 p-2 my-auto "><img src="~/images/javascript.png" class="small-icon" /></div>
                    <div class="col-9 ">
                        <div class="skill-title">Javascript</div>

                        <div class="skill-description">      Usama Ahmad is a Full Stack Web Developer Based In Pakistan</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div class="service-wrapper ">

    <div class="container ">
        <div class="services">
            <div class="row ">

                <div class="col-sm-6 col-12 my-auto ">
                    <div class="service-text">
                        <h4>Services</h4>
                        <p>I can provide services for business, corporate, goverment and non-profit organizations.</p>

                        <button>See All Services</button>
                    </div>
                </div>
                <div class="col-sm-6 col-12 service-image">
                    <img src="~/images/services.png" class="service_keyboard" />
                </div>

            </div>
        </div>
    </div>

</div>*@

<div class="expe-wrapper">

    <div class="container ">
        <div class="services">
            <div class="row ">

                <div class="col-sm-6 col-12 my-auto ">
                    <div class="expe-image">
                        <img src="~/images/human.png" class="human" />
                    </div>
                </div>
                <div class="col-sm-6 col-12 my-auto">
                    <div class="expe-text">
                        <h4>Hello!</h4>
                        <p>I'm a full stack developer living in Islamabad, Pakistan who specializes in Web Development! I have created several web applications during my time as a programmer as I view it not only as a skill, but a hobby as well. I work with only one goal in mind, help businesses reach their maximum potential.</p>
                        <table class="about-table">
                            <tr><td class="info-head text-bold">Name</td><td class="colon text-bold">:</td><td class="about-text">Usama Ahmad</td></tr>
                            <tr><td class="info-head text-bold">Location</td><td class="colon text-bold">:</td><td class="about-text">Islamabad, Pakistan</td></tr>
                            <tr><td class="info-head text-bold">Email</td><td class="colon text-bold">:</td><td class="about-text">Usamaahmad751@gmail.com</td></tr>
                            <tr><td class="info-head text-bold">Phone</td><td class="colon text-bold">:</td><td class="about-text">+923247670749</td></tr>
                        </table>
                        <button><a data-toggle="modal" data-target="#contactUs">Contact Me</a></button>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="portfolio-section">
    <div class="container">
        <div class="projects-heading">Favorite Projects</div>
        <div class="row">
            @{

                var i = 0;
            }
            @foreach (var project in Model.projects.Take(6))
            {
                <div class="col-md-4 col-12 col-sm-6 p-1">
                    <div class="project" style="background-image:url('/UploadedImages/@project.ImagePath');">
                        <div class="hovereffect">
                            <div class="overlay" style="height:270px">
                                <h2>@project.Name</h2>
                                <a class="info" href="@project.Url">Visit</a>
                                <a class="info" data-toggle="modal" data-target="#quickview-@i">Quick View</a>
                            </div>
                        </div>
                    </div>
                </div>
             i++;
                }
        </div>

    </div>
    <div class="view-more"><a href="/projects">View More >></a></div>

</div>
@{ var j = 0;}
@foreach (var item in Model.projects)
{<div class="modal fade" id="quickview-@j" tabindex="-1" role="dialog" aria-labelledby="quickViewTitle" aria-hidden="true">

        <div class="modal-box modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <div class="bg-contact100" style="background-image: url('images/bg-01.jpg');">
                    <div class="quickview">
                        <div class="row">
                            <div class="col-md-6 col-12 my-auto">
                                <div class="project-specs">
                                    <div class="project-title">
                                        <a href="@item.Url" target="_blank" style="color:black">
                                            @Html.DisplayFor(model => item.Name)
                                        </a>
                                    </div>
                                    <div class="project-tagline">
                                        @Html.DisplayFor(model => item.Tagline)

                                    </div>
                                    <div class="project-details">
                                        @Html.DisplayFor(model => item.Specification)
                                    </div>

                                    <p class="tech-heading">Technologies</p>

                                    <div class="technologies">

                                        @{

                                            string words = item.Technologies;
                                            string[] technologies = words.Split(",");
                                            foreach (var word in technologies)
                                            {
                                                <div class="technology">
                                                    @word
                                                </div>
                                            };
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 my-auto">
                                <div class="project-img">
                                    <div class="image">
                                        <a href="@item.Url" target="_blank"> <img src="~/UploadedImages/@item.ImagePath" class="img-thumbnail" /></a>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    j++;
}
<div class="get-started">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-12 my-auto ">
                <div class="get-started-text">
                    <div class="counter-image"><img src="~/images/projects.png" /></div>
                    <div class="count">
                        218+</div>
                        <p>Prjects.</p>
                    <p>Want to add more? <a href="/contact">Click Here</a></p>
                    </div>

                </div>
            <div class="col-sm-4 col-12 my-auto ">
                <div class="get-started-text">
                    <div class="counter-image"><img src="~/images/code.png" /></div>
                    <div class="count">511930+</div>
                    <p>Lines of Code.</p>
                <p>Including both server and client side.</p>        
                </div>

            </div>
            <div class="col-sm-4 col-12 my-auto ">
                <div class="get-started-text">
                    <div class="counter-image"><img src="~/images/coffe.png" /></div>
                    <div class="count">1460</div>
                    <p>Cups of coffee till now.</p>
                    <p>Mostly three times a day.</p>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="container opensource-wrapper">
    <div class="openSourceProject-heading">Open Source Projects</div>
    <div class="opensource row">
        @foreach (var openSourceProject in Model.OpenSourceProjects.Take(6))
        {
            <div class="opensource-project col-sm-4 col-12">
                <div class="opensource-content">
                    <div class="opensource-title">@openSourceProject.ProjectName</div>
                    <div class="opensource-description">@openSourceProject.Description</div>
                    <div class="opensource-technologies">
                        @{
                            var openSourceTechnologies = @openSourceProject.Technologies.Split(",");
                            foreach (var technology in openSourceTechnologies)
                            {
                                <span class="opensource-technology">
                                    @technology
                                </span>
                            };

                        }


                    </div>
                </div>
            </div>
        }
    </div>
    <div class="view-more"><a href="/Portfolio">View More >></a></div>

</div>
<div class="blogs-wrapper container">
    <div class="blogs-heading">Popular Blogs</div>
    <div class="blogs row  ">

        @foreach (var blog in Model.blogs.Take(3))
        {
            <div class="blog-wrapper col-sm-4 p-2">
                <div class=" blog p-0 ">
                    <div class="blog-image"><img src="~/UploadedImages/@blog.ImagePath" /></div>
                    <div class="blog-content">
                        <div class="blog-title">@blog.Title</div>
                        <div class="blog-description">@blog.Description</div>
                        <div class="blog-btn">
                            <a href="@blog.BlogLink" class="btn btn-primary">Read More</a>
                        </div>
                    </div>


                </div>
            </div>
        }
        <div class="view-more"><a href="/blogs">View More >></a></div>

    </div>

</div>



<script>

    var TxtRotate = function (el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtRotate.prototype.tick = function () {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
            this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
            this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">' + this.txt + '</span>';

        var that = this;
        var delta = 300 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
            delta = this.period;
            this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
            this.isDeleting = false;
            this.loopNum++;
            delta = 100;
        }

        setTimeout(function () {
            that.tick();
        }, delta);
    };

    window.onload = function () {
        var elements = document.getElementsByClassName('txt-rotate');
        for (var i = 0; i < elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-rotate');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
                new TxtRotate(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".txt-rotate > .wrap { border-right: 0.08em solid white }";
        document.body.appendChild(css);
    };

</script>